mixin brandLogo(extra)
  .brand-logo(class=extra)
    h1.brand-logo__title 
      i.brand-logo__icon(class="fas fa-align-right")
      span.brand-logo__num.red 19
      span.brand-logo__num.blue 82 
      span.brand-logo__text News  