block configuration
    include ../includes/config.pug
include ../includes/mixins.pug

include ./mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=`1982 | ${pageName}`
    //FonsAwesome
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")

  body(style="overflow-x:hideen")
    nav.nav-top
      .nav-top__container
        .nav-top__link-container
          a.nav-top__link(href="#/nosotros") Nosotros
          a.nav-top__link(href="#/equipo") Equipo
          a.nav-top__link(href="#contactanos") Contáctanos
          a.nav-top__link(href="#/unete") Únete
        .nav-top__app-container
          a.nav-top__app.hvr-grow-rotate(href="https://www.instagram.com/1982_im_/?hl=es-la" target="_blank"): i.nav-top__app-icon(class="fab fa-instagram-square")
          a.nav-top__app.hvr-grow-rotate(href="https://www.facebook.com/ange.maye.35" target="_blank"): i.nav-top__app-icon(class="fab fa-facebook-square")
          a.nav-top__app.hvr-grow-rotate(href="https://anchor.fm/1982-radio" target="_blank"): i.nav-top__app-icon(class="fas fa-podcast")
      
    .container#container 
      +brandLogo('main')
      i.fas.fa-bars.menu-icon.hvr-bg-glow#menu-icon
      .nav-main.hidden
        a.nav-main__option.hvr-bg-totop(href="#/") Inicio
        a.nav-main__option.hvr-bg-totop(href="#/ingles") Inglés
        a.nav-main__option.hvr-bg-totop(href="#/entretenimiento") Entretenimiento
        a.nav-main__option.hvr-bg-totop(href="#/historia") Historia
        a.nav-main__option.hvr-bg-totop(href="#/extra") Extra
        a.nav-main__option.hvr-bg-totop(href="#/podcast") Podcast
        a.nav-main__option.hvr-bg-totop(href="#/chiqui") ChiquiTV
        a.nav-main__option.hvr-bg-totop(href="#/imagenes") Galería
      block content
    
    .footer
      .footer__title
        h3 1982 | Instituto Mayeutico

    script(src="https://unpkg.com/scrollreveal")