extends ../pages/includes/template.pug
block configuration
  - pageName = 'Imágenes'
block content
  .masory-row
    .masory-row__column
      img(src="../static/masonry/ms_8.jpg" class="hvr-bg-glow")
      img.hvr-bg-glow(src="../static/masonry/ms_2.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_3.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_4.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_5.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_6.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_7.jpg")
    .masory-row__column
      img.hvr-bg-glow(src="../static/masonry/ms_1.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_9.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_10.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_11.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_12.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_22.jpg")
    .masory-row__column
      img.hvr-bg-glow(src="../static/masonry/ms_14.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_15.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_16.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_17.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_18.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_19.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_20.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_21.jpg")
    .masory-row__column
      img.hvr-bg-glow(src="../static/masonry/ms_23.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_24.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_25.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_26.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_27.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_28.jpg")
      img.hvr-bg-glow(src="../static/masonry/ms_13.jpg")