extends ../pages/includes/template.pug
block configuration
  - pageName = 'Inicio'
block content
  .main-news
    .main-news__container  
  .main-content
    .main-content__last-news
      h2.main-content__subtitle Ultimas Noticias
      ///////////////////////////////////////////
    .main-content__social
      .main-container-wrapper
        h2.main-content__subtitle Redes Sociales
        a.main-content__social-link.web.hvr-grow(href="https://institutomayeutico.com/" target="_blank") <i class="fas fa-globe"></i> <span>Página Web</span>
        a.main-content__social-link.facebook.hvr-grow(href="https://www.facebook.com/ange.maye.35" target="_blank") <i class="fab fa-facebook-f"></i> <span>Facebook</span>
        a.main-content__social-link.instagram.hvr-grow(href="https://www.instagram.com/1982_im_/?hl=es-la" target="_blank") <i class="fab fa-instagram"></i> <span>Instagram</span>
        a.main-content__social-link.podcast.hvr-grow(href="https://anchor.fm/1982-radio" target="_blank") <i class="fas fa-podcast"></i> <span>Podcast</span>