extends ../pages/includes/template.pug
block configuration
  - pageName = 'Sección'
block content 
  .main-content
    .main-content__last-news
      h2.main-content__subtitle Noticias de Inglés
      ///////////////////////////////////////////
    .main-content__social
      .main-container-wrapper
        h2.main-content__subtitle Redes Sociales
        a.main-content__social-link.web.hvr-grow(href="") <i class="fas fa-globe"></i><span>Página Web</span>
        a.main-content__social-link.facebook.hvr-grow(href="") <i class="fab fa-facebook-f"></i><span>Facebook</span>
        a.main-content__social-link.instagram.hvr-grow(href="") <i class="fab fa-instagram"></i><span>Instagram</span>
        a.main-content__social-link.podcast.hvr-grow(href="") <i class="fas fa-podcast"></i><span>Podcast</span>